
<div class="main mt-0 mt-md-5">
    <div class="contenedor d-flex flex-column-reverse flex-md-row col-12 col-md-8 mt-0 mt-md-5">        
        <div class="col-md-6 col-12 mt-5 mt-md-0">
            <h1 class="text-center mt-2 fw-bold mb-0">Webschool</h1>
            <img src="./assets/img/cartoon-teacher-student-standing-near-4577764.png" alt="Imagen Login" class="imagen-login mt-2 mb-2">
            <p class="text-center mb-0">Ingresa a <span class="fw-bold">Webschool</span>!</p>
            <p class="text-center">Plataforma web para profesores y estudiantes.</p>
        </div>
        <div class="formulario col-md-6 col-12 p-5 mt-4 mt-md-0">
            <h2 class="text-color fw-bold">Bienvenido!</h2>
            <h3 class="text-color">Inicia Sesión <span class="text-secondary">con tu cuenta</span></h3>
            <form [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off">
                <div class="mt-3">                    
                    <label for="email" class="form-label fw-bold text-secondary">Correo Electrónico</label>
                    <input type="text" id="email" [class]="cssValidate('email')" formControlName="email" placeholder="Ingresa tu correo">
                    <p *ngIf="formValidate('email')" class="input-error">El Correo Electrónico es requerido</p>
                </div>
                <div class="mt-3">                    
                    <label for="password" class="form-label fw-bold text-secondary">Contraseña</label>
                    <input type="password" id="password" [class]="cssValidate('password')" formControlName="password" placeholder="Ingresa tu contraseña">
                    <p *ngIf="formValidate('password')" class="input-error">La Contraseña es requerida</p>
                </div>
                <div class="mt-3">
                        <input type="checkbox" class="checkbox" formControlName="remember">
                        <span class="ms-2 text-secondary fw-bold">Recordarme</span>    
                    </div>
                <div class="mt-4 d-flex justify-content-between">
                    <p routerLink="/auth/register" class="text-color fw-bold link">Crear una cuenta</p>
                    <p routerLink="/auth/renew" class="text-color fw-bold link">Olvide mi contraseña</p>   
                </div>
                <button class="button mt-3 fw-bold">Iniciar Sesión</button>
            </form>
        </div>
    </div>

</div>