
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    box-shadow: 0px 0px 8px #5434bc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: row;
    align-items: center;
}

.formulario{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.text-color{
    color: var(--primaryColor);
}

.button {
    height: 35px;
    width: 100%;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #7553e5;
}

.imagen-login {
    width: 40%;
}

.link:hover {
    color: #6742e0;
    cursor: pointer;
}

.input-error{
    color: rgb(253, 38, 38);
    padding: 5px;
    font-size: smaller;
    font-weight: bold;
    margin: 0px;
}

.error {
    height: 30px;
    border: solid 1px;
    border-color: rgb(255, 0, 0);
    border-radius: 5px;
    width: 100%;
}


input.text {
    height: 30px;
    border: solid 1px;
    border-color: rgb(156, 156, 156);
    border-radius: 5px;
    width: 100%;
}

input:focus{
    border-color: #7553e5;
    box-shadow: 0px 0px 3px #5c34df;
    outline: 0 none;
}
