<div class="main mt-0 mt-md-5">
    <div class="contenedor d-flex flex-column-reverse flex-md-row col-12 col-md-8 mt-0 mt-md-5">        
        <div class="col-md-6 col-12 mt-5 mt-md-0 d-flex flex-column align-items-center">
            <h1 class="text-center mt-2 fw-bold mb-0">Webschool</h1>
            <img src="./assets/img/renew.png" alt="Imagen Login" class="imagen-login">
            <p class="text-center mb-0">Ingresa a <span class="fw-bold link" routerLink="/auth/login">Webschool!</span></p>
            <p class="text-center">Plataforma web para profesores y estudiantes.</p>
        </div>
        <div class="formulario col-md-6 col-12 p-5 mt-4 mt-md-0">
            <h2 class="text-color fw-bold">¿Olvidaste tu Contraseña?</h2>
            <p class="text-color mt-3 fw-bold">Ingresa tu Correo <span class="text-secondary fw-bold">y te enviaremos un enlace para actualizar tu contraseña</span></p>
            <form [formGroup]="formRenew" (ngSubmit)="renew()">
                <div class="mt-3">                    
                    <input type="email" [class]="cssValidate()" id="email" formControlName="email" placeholder="Ingresa el Correo Electrónico de registro">
                    <p *ngIf="formValidate()" class="input-error">Correo Electrónico Invalido</p>
                </div>
                <button class="button mt-4 fw-bold">Enviar</button>
                <div class="d-flex justify-content-between mt-3">
                    <p class="text-color fw-bold link" routerLink="/auth/login">Iniciar Sesión</p>
                    <p class="text-color fw-bold link" routerLink="/auth/register">Crear Cuenta</p>
                </div>
            </form>
        </div>
    </div>

</div>
