<div class="main mt-0 mt-md-5">
    <div class="contenedor d-flex flex-column-reverse flex-md-row col-12 col-md-8 mt-0 mt-md-5">        
        <div class="col-md-6 col-12 mt-5 mt-md-0 d-flex flex-column align-items-center">
            <h1 class="text-center mt-2 fw-bold mb-0">Webschool</h1>
            <img src="./assets/img/update.png" alt="Imagen Login" class="imagen-login">
            <p class="text-center mb-0">Ingresa a <span class="fw-bold link" routerLink="/auth/login">Webschool!</span></p>
            <p class="text-center">Plataforma web para profesores y estudiantes.</p>
        </div>
        <div class="formulario col-md-6 col-12 p-5 mt-4 mt-md-0">
            <h2 class="text-color fw-bold">Actualizar Contraseña</h2>
            <form [formGroup]="formUpdate" (ngSubmit)="update()">
                <div class="mt-3">                    
                    <input type="password" [class]="cssValidate('password')" id="password" formControlName="password" placeholder="Nueva Contraseña">
                    <p *ngIf="formValidate('password')" class="input-error">La contraseña debe contener min. 6 caractéres</p>
                </div>
                <div class="mt-3">                    
                    <input type="password" [class]="cssValidate('password_validation')" id="password_validation" formControlName="password_validation" placeholder="Confirmar Contraseña">
                    <p *ngIf="passValidate()" class="input-error">Las contraseñas deben coincidir</p>
                </div>
                <button class="button mt-4 fw-bold">Enviar</button>
                <div class="d-flex justify-content-between mt-3">
                    <p class="text-color fw-bold link" routerLink="/auth/login">Iniciar Sesión</p>
                    <p class="text-color fw-bold link" routerLink="/auth/register">Crear Cuenta</p>
                </div>
            </form>
        </div>
    </div>

</div>
