
:root{
    --primaryColor: #8568e2;
    --textPrimary: white;
}

body{
    background-color: var(--primaryColor);
    color: var(--textPrimary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}